@font-face {
  font-family: "AkzidenzGroteskBE-Light";
  src: url("../fonts/AkzidenzGroteskBE-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Light.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Light.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Light.svg#AkzidenzGroteskBE-Light") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskBE-Md";
  src: url("../fonts/AkzidenzGroteskBE-Md.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Md.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Md.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskBE-Regular";
  src: url("../fonts/AkzidenzGroteskBE-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Regular.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Regular.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AkzidenzGroteskBE-Light";
  font-size: 16px;
  font: inherit;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "AkzidenzGroteskBE-Light";
  src: url("../fonts/AkzidenzGroteskBE-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Light.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Light.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Light.svg#AkzidenzGroteskBE-Light") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskBE-Md";
  src: url("../fonts/AkzidenzGroteskBE-Md.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Md.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Md.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskBE-Regular";
  src: url("../fonts/AkzidenzGroteskBE-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkzidenzGroteskBE-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBE-Regular.woff") format("woff"), url("../fonts/AkzidenzGroteskBE-Regular.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

:root {
  scroll-behavior: smooth;
}

body {
  color: #494948;
  font: "AkzidenzGroteskBE-Light";
  overflow-x: hidden;
  position: relative;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: auto;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AkzidenzGroteskBE-Md";
}

.headerContainer {
  background-color: #fd5b33;
  height: 100vh;
}

.headerContainer .headerContent {
  background-color: #1f1f1f;
  border-top-right-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  width: calc(100% - 27px);
}

@media (min-width: 768px) {
  .headerContainer .headerContent {
    width: calc(100% - 100px);
  }
}

.headerContainer .headerContent .brandContent {
  margin-bottom: 84.2px;
  text-align: center;
}

.headerContainer .headerContent .sloganContainer .slogan {
  color: #ffffff;
  font-size: 22px;
  font-family: "AkzidenzGroteskBE-Regular";
  margin-bottom: 35px;
  /*45*/
}

@media (min-width: 768px) {
  .headerContainer .headerContent .sloganContainer .slogan {
    font-size: 33.15px;
    line-height: 45.08px;
  }
}

.headerContainer .headerContent .sloganContainer .slogan span {
  display: block;
}

.headerContainer .headerContent .btnArrowDownn {
  bottom: 75px;
  left: calc(50% - 25px);
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.headerContainer .headerContent .btnContainer {
  bottom: 13px;
  position: fixed;
  right: 0;
  text-align: end;
  z-index: 10;
}

.headerContainer .headerContent .btnContainer .btnContact {
  background-color: #fd5b33;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 0;
  color: #ffffff;
  font-family: "AkzidenzGroteskBE-Regular";
  font-size: 16px;
  outline: none;
  padding: 25px 50px 25px 30px;
}

@media (min-width: 768px) {
  .headerContainer .headerContent .btnContainer .btnContact {
    padding: 25px 118px 25px 25px;
  }
}

#about {
  padding: 57.5px 40px 42.8px;
}

@media (min-width: 1024px) {
  #about {
    padding: 80px;
  }
}

#about h2 {
  color: #272727;
  font-size: 25px;
  line-height: 30px;
  /*font-weight: bold;*/
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  #about h2 {
    font-size: 41.8px;
    line-height: 50.17px;
  }
}

#about p {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBE-Light";
  line-height: 15.42px;
}

@media (min-width: 1024px) {
  #about p {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  #about .aboutIntro {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  #about .aboutFlex {
    margin-top: 49.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43.3px;
  }
}

@media (min-width: 768px) {
  #about .aboutFlex div {
    width: 50%;
  }
}

#about .aboutFlex .aboutFlexDescription {
  font-size: 16px;
  margin-top: 31.8px;
}

@media (min-width: 768px) {
  #about .aboutFlex .aboutFlexDescription {
    margin-top: 0;
  }
}

#about .aboutFlex .aboutFlexDescription h3 {
  font-family: "AkzidenzGroteskBE-Md";
  font-size: 18px;
  line-height: 23px;
  /*font-weight: bold;*/
  margin-bottom: 15.3px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  #about .aboutFlex .aboutFlexDescription h3 {
    font-size: 29.42px;
    line-height: 37.59px;
  }
}

#about .aboutFlex .aboutFlexDescription ul {
  list-style: disc;
  font-family: "AkzidenzGroteskBE-Light";
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 1024px) {
  #about .aboutFlex .aboutFlexDescription ul {
    font-size: 21px;
    line-height: 28px;
  }
}

/*about 2*/
.about2Container {
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .about2Container {
    padding-left: 94.9px;
    padding-right: 94.1px;
  }
}

.about2Container .hrTop {
  background-color: #fd5b33;
  border: 1px solid #fd5b33;
  margin: 23.1px auto 28.1px;
  width: 100%;
}

@media (min-width: 768px) {
  .about2Container .hrTop {
    margin: 38.3px 0 54.3px;
  }
}

.about2Container h2 {
  font-size: 18px;
  line-height: 21px;
  /*font-weight: bold;*/
  font-family: "AkzidenzGroteskBE-Md";
  margin-bottom: 33.7px;
  color: #272727;
}

@media (min-width: 768px) {
  .about2Container h2 {
    font-size: 24.66px;
    line-height: 28.77px;
  }
}

.about2Container h2 span {
  display: block;
}

@media (min-width: 768px) {
  .about2Container h2 span {
    display: inline-block;
  }
}

.about2Container p {
  font-size: 13px;
  line-height: 17px;
  font-family: "AkzidenzGroteskBE-Light";
  width: 80%;
  margin: auto;
}

@media (min-width: 768px) {
  .about2Container p {
    font-size: 17.8px;
    line-height: 23.9px;
  }
}

.about2Container picture img {
  margin-top: 35px;
}

.about2Container .hrBottom {
  background-color: #fd5b33;
  border: 1px solid #fd5b33;
  margin: 28.3px auto 28px;
  width: 100%;
}

/*footer*/
.footer {
  padding: 60px 20px 16px;
  background-color: #1f1f1f;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer {
    padding-bottom: 47.8px;
  }
}

.footer .brandFooter {
  margin-bottom: 30.2px;
}

.footer .brandFooter a img {
  width: 20%;
}

@media (min-width: 1024px) {
  .footer .brandFooter a img {
    width: 6.5%;
  }
}

.footer .footerDescription p {
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  font-family: "AkzidenzGroteskBE-Light";
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .footer .footerDescription p {
    font-size: 16px;
    line-height: 18.4px;
  }
}

.footer .footerDescription p a {
  color: #ffffff;
}

.footer .footerDescription p a i {
  color: #ffffff;
}

.footer .footerDescription span {
  padding: 0 5px;
}

.footer .firmContainer {
  margin-top: 46.4px;
  text-align: start;
}

@media (min-width: 768px) {
  .footer .firmContainer {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .footer .firmContainer {
    margin-top: 43.3px;
  }
}

/*form*/
.formContainer {
  padding: 40px;
  background-color: #1f1f1f;
}

@media (min-width: 768px) {
  .formContainer {
    padding: 64.2px 105px 66.1px 102px;
  }
}

.formContainer form input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fd5b33;
  display: block;
  font-family: "AkzidenzGroteskBE-Regular";
  font-size: 13px;
  margin-bottom: 25px;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
  color: #ffffff;
}

@media (min-width: 768px) {
  .formContainer form input {
    font-size: 15px;
  }
}

.formContainer form input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBE-Regular";
}

.formContainer form input:-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBE-Regular";
}

.formContainer form input::-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBE-Regular";
}

.formContainer form input::placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBE-Regular";
}

@media (min-width: 768px) {
  .formContainer form input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form input::-ms-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form input::placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
}

.formContainer form textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fd5b33;
  display: block;
  font-family: "AkzidenzGroteskBE-Regular";
  font-size: 13px;
  margin-bottom: 25px;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
  color: #ffffff;
  background-attachment: local;
  background-image: -webkit-linear-gradient(top, transparent, transparent 42px, #fd5b33 0);
  background-size: 100% 43px;
  border-bottom: 0;
  color: #ffffff;
  height: 122px;
  line-height: 45px;
  resize: none;
}

.formContainer form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.formContainer form textarea:-ms-input-placeholder {
  color: #ffffff;
}

.formContainer form textarea::-ms-input-placeholder {
  color: #ffffff;
}

.formContainer form textarea::placeholder {
  color: #ffffff;
}

@media (min-width: 768px) {
  .formContainer form textarea::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form textarea:-ms-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form textarea::-ms-input-placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
  .formContainer form textarea::placeholder {
    font-size: 17px;
    line-height: 20.4px;
  }
}

.formContainer form button {
  background-color: #1f1f1f;
  border: #ffffff 1px solid;
  color: #ffffff;
  display: block;
  margin: 30px auto 0;
  outline: none;
  padding: 10px 20px 8px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .formContainer form button {
    font-size: 15.89px;
    line-height: 19.07px;
  }
}

#map {
  width: 100%;
  height: 90vh;
  max-height: 600px;
}

.providerContainer {
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 20px;
}

.providerContainer .provider {
  text-align: center;
}

.providerContainer .provider h4 {
  color: #1f1f1f;
  font-family: "AkzidenzGroteskBE-Light";
  margin-bottom: 20px;
  text-transform: uppercase;
}

.providerContainer .provider img {
  width: calc(100% - 10px);
}

@media (min-width: 768px) {
  .providerContainer {
    gap: 160px;
    padding: 60px;
  }
}

/*slider*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

@media (min-width: 768px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "next";
    color: #ffffff;
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

@media (min-width: 768px) {
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "prev";
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .swiper-button-next img,
  .swiper-button-prev img {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */