/*$headLine3: normal 30px/38px $fontBase;*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*font-size: 62.5%;*/
  scroll-behavior: smooth;
}

body {
  font: normal 14px/20px "AkzidenzGroteskBE-Regular", sans-serif;
  color: #494948;
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

hr {
  background-color: #fd5b33;
  width: 100%;
  margin: 30px auto;
  border: 1px solid #fd5b33;
}

.wrapper {
  min-width: 320px;
  /*max-width: 1024px;*/
  margin: auto;
  position: relative;
}

.headerContainer {
  height: 100vh;
  background-color: #fd5b33;
}

.headerContainer .headerContent {
  text-align: center;
  padding: 40px 20px;
  width: 95%;
  height: 100%;
  border-top-right-radius: 100px;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .headerContent .brandContent {
  text-align: center;
  margin-bottom: 84.2px;
}

.headerContainer .headerContent .sloganContainer .slogan {
  font: normal 27px/34px "AkzidenzGroteskBE-Regular", sans-serif;
  color: #ffffff;
  margin-bottom: 48.9px;
}

.headerContainer .headerContent .sloganContainer .slogan span {
  display: block;
}

.headerContainer .headerContent .btnContainer {
  text-align: end;
  position: fixed;
  right: 0;
  bottom: 13px;
  z-index: 10;
}

.headerContainer .headerContent .btnContainer .btnContact {
  font: normal 15px/15.42px "AkzidenzGroteskBE-Regular", sans-serif;
  background-color: #fd5b33;
  color: #ffffff;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  padding: 13px 37px 15px 25px;
}

.aboutContainer {
  padding: 57.5px 20px 42.8px;
}

.aboutContainer .aboutBig {
  margin-bottom: 18.3px;
}

.aboutContainer .aboutBig h2 {
  font: bold 25px/38px "AkzidenzGroteskBE-Regular", sans-serif;
  color: #272727;
  margin-bottom: 20px;
}

.aboutContainer .aboutBig p {
  margin-bottom: 20px;
  font: normal 14px/15.42px "AkzidenzGroteskBE-Regular", sans-serif;
}

.aboutContainer .aboutFlex div {
  margin-bottom: 31.8px;
}

.aboutContainer .aboutFlex .aboutFlexDescription h3 {
  font: bold 18px/23px "AkzidenzGroteskBE-Regular", sans-serif;
  margin-bottom: 15.3px;
  text-transform: uppercase;
}

.aboutContainer .aboutFlex .aboutFlexDescription ul {
  font: normal 12px/16px "AkzidenzGroteskBE-Regular", sans-serif;
  padding-left: 20px;
}

/*about 2*/
.about2Container {
  padding: 28px 20px;
  text-align: center;
}

.about2Container h2 {
  font: bold 18px/21px "AkzidenzGroteskBE-Regular", sans-serif;
  margin-bottom: 33.7px;
  color: #272727;
}

.about2Container h2 span {
  display: block;
}

.about2Container p {
  font: normal 13px/17px "AkzidenzGroteskBE-Regular", sans-serif;
  width: 80%;
  margin: auto;
}

.about2Container picture img {
  margin: 35px 0 28px;
}

/*footer*/
.footer {
  padding: 60px 20px;
  background-color: #1f1f1f;
  text-align: center;
}

.footer .brandFooter {
  margin-bottom: 30.2px;
}

.footer .brandFooter a img {
  width: 20%;
}

.footer .footerDescription p {
  color: #ffffff;
  font: normal 12px/15px "AkzidenzGroteskBE-Regular", sans-serif;
  margin-bottom: 20px;
}

.footer .footerDescription p a i {
  color: #ffffff;
}

.footer .firmContainer {
  margin-top: 46.4px;
  text-align: end;
}

/*form*/
.formContainer {
  padding: 67.3px 40px 62.8px;
  background-color: #1f1f1f;
}

.formContainer form .input .formControl input {
  border: 0;
  border-bottom: solid 1px #fd5b33;
  background-color: transparent;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
  outline: none;
}

.formContainer form .input .formControl input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .input .formControl input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .input .formControl input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .input .formControl input::placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .textarea .formControl textarea {
  border: 0;
  border-bottom: solid 1px #fd5b33;
  background-color: transparent;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
  outline: none;
  height: 120px;
}

.formContainer form .textarea .formControl textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .textarea .formControl textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .textarea .formControl textarea::-ms-input-placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .textarea .formControl textarea::placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
}

.formContainer form .formBtn {
  text-align: center;
}

.formContainer form .formBtn button {
  font: normal 13px/15.6px "AkzidenzGroteskBE-Regular", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: #ffffff 1px solid;
  padding: 15px 20px;
  background-color: #1f1f1f;
  outline: none;
}

.providerContainer {
  padding: 40px 20px;
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 86px;
}

.providerContainer .provider {
  text-align: center;
}

.providerContainer .provider h3 {
  text-transform: uppercase;
  color: #1f1f1f;
  font: normal 12px/15px "AkzidenzGroteskBE-Regular", sans-serif;
  margin-bottom: 20px;
}

/*slider*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #fd5b33;
}

@media screen and (min-width: 768px) {
  .headerContainer .headerContent .sloganContainer .slogan {
    font: normal 33.15px/45.08px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .aboutContainer {
    padding: 79.5px 162.9px 92.7px 94.1px;
  }
  .aboutContainer .aboutBig h2 {
    font: bold 41.81px/50.17px "AkzidenzGroteskBE-Regular", sans-serif;
    margin-bottom: 43.9px;
  }
  .aboutContainer .aboutBig h2 span {
    display: block;
  }
  .aboutContainer .aboutBig p {
    font: normal 21px/26px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .aboutContainer .aboutBig p span {
    display: block;
  }
  .aboutContainer .aboutFlex {
    margin-top: 49.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43.3px;
  }
  .aboutContainer .aboutFlex div {
    width: 50%;
  }
  .aboutContainer .aboutFlex .aboutFlexDescription h3 {
    font: bold 29.42px/37.59px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .aboutContainer .aboutFlex .aboutFlexDescription ul {
    font: normal 21px/28px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .swiper {
    height: 80vh;
  }
  .about2Container {
    padding: 38.3px 162.9px 43.1px 94.1px;
  }
  .about2Container h2 {
    font: bold 24.66px/28.77px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .about2Container h2 span {
    display: inline;
  }
  .about2Container p {
    font: normal 17.81px/23.29px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer {
    padding: 64.2px 105px 66.1px 102px;
  }
  .formContainer form .input .formControl input::-webkit-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .input .formControl input:-ms-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .input .formControl input::-ms-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .input .formControl input::placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .textarea .formControl textarea::-webkit-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .textarea .formControl textarea:-ms-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .textarea .formControl textarea::-ms-input-placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .textarea .formControl textarea::placeholder {
    font: normal 17px/20.4px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .formContainer form .formBtn button {
    font: normal 15.89px/19.07px "AkzidenzGroteskBE-Regular", sans-serif;
  }
  .providerContainer {
    gap: 164px;
  }
  .footer {
    padding-bottom: 47.8px;
  }
  .footer .brandFooter a img {
    width: 10%;
  }
  .footer .firmContainer {
    margin-top: 43.3px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .headerContainer .headerContent {
    padding-left: 40px;
    padding-right: 40px;
  }
  .aboutContainer {
    padding: 40px 100px;
  }
  .providerContainer {
    padding: 40px 100px;
  }
  .footer {
    padding: 40px 100px;
  }
}
/*# sourceMappingURL=styles.css.map */