.aboutContainer {
  padding: 40px 20px;
  .aboutBig {
    margin-bottom: 40px;
    h2 {
      font: $headLine2;
      color: $color2;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .aboutFlex {
    margin-top: 20px;

    .aboutFlexDescription {
      margin-top: 20px;
      h3 {
        font: $headLine4;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      ul {
        font: $headLine7;
        padding-left: 20px;
      }
    }
  }
}
