/*about 2*/

.about2Container {
  padding: 28px 20px;
  text-align: center;
  h2 {
    font: bold 18px/21px $fontBase;
    margin-bottom: 33.7px;
    color: $color2;
    span {
      display: block;
    }
  }
  p {
    font: normal 13px/17px $fontBase;
    width: 80%;
    margin: auto;
  }
  picture {
    img {
      margin: 35px 0 28px;
    }
  }
}
