/*footer*/
.footer {
  padding: 60px 20px;
  background-color: $color3;
  text-align: center;
  .brandFooter {
    margin-bottom: 30.2px;
    a {
      img {
        width: 20%;
      }
    }
  }
  .footerDescription {
    p {
      color: $color1;
      font: normal 12px/15px $fontBase;
      margin-bottom: 20px;
      a {
        i {
          color: $color1;
        }
      }
    }
  }
  .firmContainer {
    margin-top: 46.4px;
    text-align: end;
  }
}
