/*form*/

.formContainer {
  padding: $generalPadding;
  background-color: $color3;

  form {
    input {
      @include input;

      &::placeholder {
        color: $color1;
        text-transform: uppercase;
        font-family: "AkzidenzGroteskBE-Regular";
      }
    }

    textarea {
      @include input;
      background-attachment: local;
      background-image: linear-gradient(
        top,
        transparent,
        transparent $formFontSize * 2 - 1,
        $color4 0
      );
      background-image: -webkit-linear-gradient(
        top,
        transparent,
        transparent $formFontSize * 2 - 1,
        $color4 0
      );
      background-size: 100% $formFontSize * 2 - 0.5;
      border-bottom: 0;
      color: $color1;
      height: 70px;
      line-height: $formFontSize * 2;
      resize: none;

      &::placeholder {
        color: $color1;
      }
    }

    button {
      background-color: $color3;
      border: $color1 1px solid;
      color: $color1;
      display: block;
      margin: $generalPadding / 4 * 3 auto 0;
      outline: none;
      padding: 6px 20px 3px;
      text-transform: uppercase;
    }
  }
  @include tablet {
    padding: 64.2px 105px 66.1px 102px;
    form {
      .input {
        .formControl {
          input {
            &::placeholder {
              font-size: 17px;
              line-height: 20.4px;
            }
          }
        }
      }
      .textarea {
        .formControl {
          textarea {
            &::placeholder {
              font-size: 17px;
              line-height: 20.4px;
            }
          }
        }
      }
      .formBtn {
        button {
          font-size: 15.89px;
          line-height: 19.07px;
        }
      }
    }
  }
}
