/*form*/

.formContainer {
  padding: $generalPadding;
  background-color: $color3;
  @include tablet {
    padding: 64.2px 105px 66.1px 102px;
  }

  form {
    input {
      @include input;
      @include tablet {
        font-size: 15px;
      }
      &::placeholder {
        color: $color1;
        text-transform: uppercase;
        font-family: "AkzidenzGroteskBE-Regular";
        @include tablet {
          font-size: 17px;
          line-height: 20.4px;
        }
      }
    }

    textarea {
      @include input;
      background-attachment: local;
      background-image: -webkit-linear-gradient(
        top,
        transparent,
        transparent 42px,
        $color4 0
      );
      background-size: 100% 43px;
      border-bottom: 0;
      color: $color1;
      height: 122px;
      line-height: 45px;
      resize: none;

      &::placeholder {
        color: $color1;
        @include tablet {
          font-size: 17px;
          line-height: 20.4px;
        }
      }
    }

    button {
      background-color: $color3;
      border: $color1 1px solid;
      color: $color1;
      display: block;
      margin: $generalPadding / 4 * 3 auto 0;
      outline: none;
      padding: 10px 20px 8px;
      text-transform: uppercase;
      @include tablet {
        font-size: 15.89px;
        line-height: 19.07px;
      }
    }
  }
}
