:root {
  scroll-behavior: smooth;
}

body {
  color: $fontColor;
  font: $fontBase;
  overflow-x: hidden;
  position: relative;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: auto;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AkzidenzGroteskBE-Md";
}
