* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /*font-size: 62.5%;*/
  scroll-behavior: smooth;
}
body {
  font: $body1;
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
hr {
  background-color: $color4;
  width: 90%;
  margin: 30px auto;
  border: 1px solid $color4;
}
.wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .aboutFlex {
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      width: 50%;
    }
  }
}
