@media screen and (min-width: 768px) {
  .headerContainer {
    .headerContent {
      .sloganContainer {
        .slogan {
          font: normal 33.15px/45.08px $fontBase;
        }
      }
    }
  }
  .aboutContainer {
    padding: 79.5px 162.9px 92.7px 94.1px;
    .aboutBig {
      h2 {
        font: bold 41.81px/50.17px $fontBase;
        margin-bottom: 43.9px;
        span {
          display: block;
        }
      }
      p {
        font: normal 21px/26px $fontBase;

        span {
          display: block;
        }
      }
    }
    .aboutFlex {
      margin-top: 49.2px;
      display: flex;
      align-items: center;
      gap: 43.3px;
      div {
        width: 50%;
      }
      .aboutFlexDescription {
        h3 {
          font: bold 29.42px/37.59px $fontBase;
        }
        ul {
          font: normal 21px/28px $fontBase;
        }
      }
    }
  }
  .swiper {
    height: 80vh;
  }
  .about2Container {
    padding: 38.3px 162.9px 43.1px 94.1px;
    h2 {
      font: bold 24.66px/28.77px $fontBase;
      span {
        display: inline;
      }
    }
    p {
      font: normal 17.81px/23.29px $fontBase;
    }
  }
  .formContainer {
    padding: 64.2px 105px 66.1px 102px;
    form {
      .input {
        .formControl {
          input {
            &::placeholder {
              font: normal 17px/20.4px $fontBase;
            }
          }
        }
      }
      .textarea {
        .formControl {
          textarea {
            &::placeholder {
              font: normal 17px/20.4px $fontBase;
            }
          }
        }
      }
      .formBtn {
        button {
          font: normal 15.89px/19.07px $fontBase;
        }
      }
    }
  }
  .providerContainer {
    gap: 164px;
  }
  .footer {
    padding-bottom: 47.8px;
    .brandFooter {
      a {
        img {
          width: 10%;
        }
      }
    }
    .firmContainer {
      margin-top: 43.3px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .headerContainer {
    .headerContent {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .aboutContainer {
    padding: 40px 100px;
  }

  .providerContainer {
    padding: 40px 100px;
  }
  .footer {
    padding: 40px 100px;
  }
}
