.providerContainer {
  padding: 40px 20px;
  background-color: $color5;
  display: flex;
  justify-content: center;
  .provider {
    text-align: center;
    width: 50%;
    h3 {
      text-transform: uppercase;
      color: $color3;
      font: $caption;
      margin-bottom: 20px;
    }
  }
}
