.providerContainer {
  padding: 60px 20px;
  background-color: $color5;
  display: flex;
  justify-content: center;
  gap: 86px;
  .provider {
    text-align: center;

    h3 {
      text-transform: uppercase;
      color: $color3;
      font: $caption;
      margin-bottom: 20px;
    }
  }
}
