.providerContainer {
  background-color: $color5;
  display: flex;
  gap: $generalPadding * 1.5;
  justify-content: center;
  padding: 60px 20px;

  .provider {
    text-align: center;

    h4 {
      color: $color3;
      font-family: $fontBase;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    img {
      width: calc(100% - 10px);
    }
  }

  @include tablet {
    gap: $generalPadding * 4;
    padding: $generalPadding * 1.5;
  }
}
