
$fontBase: san-serif;
$headLine1: bold 8rem/9rem $fontBase;
$headLine2: bold 5rem/6rem $fontBase;
$headLine3: bold 3rem/4rem $fontBase;
$headLine4: bold 2.2rem/2.9rem $fontBase;
$headLine5: bold 1.9rem/3rem $fontBase;
$body1: normal 1.7rem/2rem $fontBase;
$button: bold 1.5rem/2rem $fontBase;
$caption: normal 1.2rem/1.5rem $fontBase;

$bgColor1: ;
$bgColor2: ;
$bgColor3: ;
$fontColor1: ;
$fontColor2: ;
$fontColor3: ;