$fontBase: "AkzidenzGroteskBE-Regular", sans-serif;
$color1: #ffffff;
$color2: #000000;
$color3: #1f1f1f;
$color4: #fd5b33;

$headLine1: bold 8rem/9rem $fontBase;
$headLine2: bold 5rem/6rem $fontBase;
$headLine3: normal 2.5rem/3rem $fontBase;
$headLine4: bold 2.2rem/2.9rem $fontBase;
$headLine5: bold 1.9rem/3rem $fontBase;
$body1: normal 1.7rem/2rem $fontBase;

$button: bold 1.5rem/2rem $fontBase;
$caption: normal 1.2rem/1.5rem $fontBase;
