$fontBase: "AkzidenzGroteskBE-Regular", sans-serif;
$color1: #ffffff;
$color2: #000000;
$color3: #1f1f1f;
$color4: #fd5b33;
$color5: #c2c2c2;

$headLine1: bold 8rem/9rem $fontBase;
$headLine2: bold 5rem/6rem $fontBase;
$headLine3: normal 25px/30px $fontBase;
$headLine4: bold 22px/32px $fontBase;
$headLine5: bold 18px/21px $fontBase;
$headLine6: normal 12px/22px $fontBase;
$body1: normal 14px/20px $fontBase;

$button: bold 15px/20px $fontBase;
$caption: normal 12px/15px $fontBase;

@mixin input() {
  border: 0;
  border-bottom: solid 1px $color4;
  background-color: transparent;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
